header {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
}

 .header-text {
  margin: 6px;
  text-decoration: none;
  text-align: center;
  color: aliceblue;
  padding: 3px;
  font-style: italic;
  text-transform: uppercase;
  font-size: 15px;
 }

 a.header-text:hover {
  color: bisque;
  border-radius: 20%;
  border-bottom: 1px solid black;
 }

 a.selected {
  color: bisque;
  border-radius: 20%;
  border-bottom: 1px solid black;
 }
