body {
  background-color: rgb(214, 214, 214);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  font-weight: 900;
}

.container-main {
  display: flex;
  flex-wrap: wrap;
}

.item-main {
  width: 10%;
}

.text-main {
  color: aliceblue;
  font-size: 3em;
}