body {
  background-image: url('/public/cafe.svg');
  background-color: rgba(56, 8, 8, 0.952);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  font-weight: 900;
}

.container-main {
  display: flex;
  flex-wrap: wrap;
}

.item-main {
  width: 10%;
}

.text-main {
  color: aliceblue;
  font-size: 3em;
}

.content-home-left {
  left: 0;
  width: 100%;
}